@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #000000;
}

body {
    min-height: 100vh;
    background-color: whitesmoke;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #DC143C;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    text-decoration: none;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: black;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
  color: firebrick;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: black;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.toto {
    color: #000;
    background-color: #DC143C;
}

img {
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
 }

 .homeicn {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%; 
 }
 
 .usericn {
    margin-left: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%; 
 }

 .logicn {
    margin-left: 2px;
    width: 15px;
    height: 15px;
    border-radius : 50%; 
 }
 
 .postCard {
    list-style: none;
    background-color:#FFD7D7;
    border-width: 3px ;
    border-style:groove;
    margin-bottom: 10px;
    padding: 5px;
 }

 .postImg {
    border-width: 3px ;
    border-style:groove;
    display: flex;
    margin-left: 22px;
 }

 .datecr {
    font-size: 0.5em;
 }